# Basic .gitattributes for a R repo.

# Source files
# ============
*.Rdata binary
*.RData binary
*.rda   binary
*.rdb   binary
*.rds   binary
*.Rd    text
*.Rdx   binary
*.Rmd	  text
*.pdf   diff=astextplain
*.PDF   diff=astextplain
*.csv   text
*.R  	  text
*.Rproj text
*.[Rr]md   linguist-detectable
